*{
    margin: 0;
    padding: 0;
}

header{
    background-color:#d98a51
}

main{
    background-color:#b42c2f
}

footer {
    background-color:#7d002b
}

#Cochinita {
    width: 40%;
}

.redes {
    width: 10%;
}

